<div class="modal-content">
  <div class="modal-header">
  </div>
  <h1>Mirësevini!</h1>
  <ul>
    <li>Fjalët për sot janë kortezi e grupit tek vendi ;)</li>
    <li>Sot, numri maksimal i fjalëve që mund të gjeni është: <b>66</b></li>
    <li>Gërmëzhimë ndodhet tashmë dhe në Instagram në <a href="https://www.instagram.com/germezhime"><b>&#64;Germezhime</b></a>. Bëni follow si dhe ndajeni me miqtë.</li>
    <li>Nëse provoni një fjalë dhe nuk gjendet, ndodh që ka një gabim në sistem, ndaj provojeni sërish.</li>
    <li>Pak më herët se zakonisht, ndjesë.</li>
  </ul>
</div>
