<div class="modal-content">
  <div class="modal-header">
  </div>
  <h1>Mirësevini!</h1>
  <ul>
    <li>Rritet vështirësia...</li>
    <li>Sot, numri maksimal i fjalëve që mund të gjeni është: <b>53</b></li>
    <li>Gërmëzhimë ndodhet tashmë dhe në Instagram në <a href="https://www.instagram.com/germezhime"><b>&#64;Germezhime</b></a>. Bëni follow si dhe ndajeni me miqtë.</li>
    <li>Nëse provoni një fjalë dhe nuk gjendet, ndodh që ka një gabim në sistem, ndaj provojeni sërish.</li>
    <li>Sa fjalë fillojnë me:</li>
    <li><b>b:</b> 9 fjalë</li>
    <li><b>d:</b> 11 fjalë</li>
    <li><b>h:</b> 4 fjalë</li>
    <li><b>m:</b> 16 fjalë</li>
    <li><b>n:</b> 13 fjalë</li>
  </ul>
</div>
