<div class="modal-content">
  <div class="modal-header">
  </div>
  <h1>Mirësevini!</h1>
  <ul>
    <li>Çdo ditë pas orës 00:00 do të gjeni nga një fjalë të re në <b>Germëzhimë</b>.</li>
    <li>Sot, numri maksimal i fjalëve që mund të gjeni është: <b>145</b></li>
    <li>Gjithashtu, do të përfshihen dhe zgjedhime dhe trajtat që ditët e tjera nuk kanë qënë, ndaj do të keni më shumë mundësi për të gjetur fjalë.</li>
    <li>Nëse provoni një fjalë dhe nuk gjendet, do të thotë që nuk ndodhet aty me vetëdije, ndaj provoni përsëri.</li>
    <li>Loja është në përmirësim të vazhdueshëm, ndaj nëse nuk është ende perfekte pak durim. Gjendet vetëm një person pas kësaj tastiere :)</li>
  </ul>
</div>
