.hive-cell {
  width: 60px;
  height: 52px;
  cursor: pointer;
  position: absolute;

  > .cell-fill.push-active {
    transform: scale3d(0.86, 0.86, 1);
    transform-origin: center center;
  }
}

.cell-fill {
  fill: #e6e6e6;
  transition: all 100ms;
  &.push-active {
    fill: darken(#e6e6e6, 5);
  }
}

.center-honeycomb .cell-fill {
  fill: #fdd835;
}

.cell-letter {
  font-size: 30px;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
  fill: #333;
  text-transform: uppercase;
}

/* Offset calculations for hexagonal grid formation */
.hive-cell:nth-child(1) { top: 27px; left: 0;}
.hive-cell:nth-child(2) { top: 0; left: 52px; }
.hive-cell:nth-child(3) { top: 28px; left: 104px; }
.hive-cell:nth-child(4) { top: 58px; left: 52px; }
.hive-cell:nth-child(5) { top: 86px; left: 0; }
.hive-cell:nth-child(6) { top: 116px; left: 52px; }
.hive-cell:nth-child(7) { top: 87px; left: 105px; }


svg {
  width: 60px;
  height: 52px;
  position: relative;
}

:host {
  display: block;
  width: 164px;
  height: 170px;
  position: relative;
}
