:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-honeycomb {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  :host {
    flex-direction: column;
    height: auto;
  }
}
