@import 'variables.scss';

$dot-size: 9px;
$marker-size: 1.875em;
$progress-transition-time: 200ms;
$progress-transition: left $progress-transition-time ease;
$gray4: #dcdcdc;

:host {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  //width: 100%;
  max-width: 80%;
}

/* Component specific styles */
.sb-wordlist-box {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  overflow: hidden;
  letter-spacing: 0.005em;
}

.sb-wordlist-summary,
.sb-recent-words-wrap {
  padding: 0 20px;
  position: relative;
  transition: all 270ms ease;
}

.sb-wordlist-summary {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.sb-wordlist-heading {
  cursor: pointer;
  height: 30px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.sb-wordlist-drawer {
  overflow: hidden;
  transition: max-height 200ms ease;
  max-height: none;
}

.sb-expanded .sb-wordlist-drawer {
  max-height: $small-device-max-height; /* Adjust based on your variable definitions */
}

.sb-wordlist-window {
  position: relative;
  overflow: hidden;
  height: $small-device-height; /* Adjust based on your variable definitions */
  max-height: none !important;
}

.sb-wordlist-pag {
  display: flex;
  flex-direction: column;
}

.sb-wordlist-items-pag {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: calc(100%);
  padding: 10px;
  min-width: 400px;

  > li {
    margin-right: 15px;
    padding: 4px 0 4px 1px;
    margin-bottom: 7px;
    border-bottom: 1px solid #dcdcdc;
    width: calc(30% - 20px);
  }
}
.sb-anagram {
  display: block;
  //text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;

  &.pangram {
    color: #fdd835;
  }
}

.sb-toggle-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sb-toggle-icon {
  /* Add appropriate styling for toggle icon here */
}


.sb-wordlist-summary,
.sb-recent-words-wrap {
  padding: 0 4px;
  position: relative;
  transition: all 270ms ease;
}

/* Responsive and Device-Specific Adjustments */
@include view-width-min(md) {
  .sb-wordlist-box, .sb-wordlist-drawer {
    display: flex;
    flex-direction: column;
  }

  .sb-expanded .sb-wordlist-drawer {
    max-height: $large-device-max-height;
  }

  .sb-wordlist-window {
    overflow-x: auto;
    height: $large-device-height;
  }
}

@include view-device(mobile) {
  :host {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    max-width: 80%;
  }

  .sb-wordlist-box {
    margin: 0 20px; /* Centering in mobile view */
  }
}

@include view-device(desktop) {
  .sb-wordlist-window {
    height: $desktop-height;
  }
}

/* Further customization for different platform appearances */
.pz-mobile:not(.pz-play-tab) {
  height: calc(var(--vh, 1vh) * 100); /* Custom viewport height handling */
}

.pz-play-tab.game-moment {
  height: calc(var(--vh, 1vh) * 100); /* Adjusted for play tab specific moments */
}

.pz-mobile {
  overflow-y: hidden;
}

.pz-mobile.enable-scrolling {
  overflow-y: auto;
}

.pz-games-app .sb-content-box {
  font-family: 'nyt-franklin', sans-serif;
}

/* Kebob and other UI elements */
.sb-kebob {
  /* Style for kebob menu, typically the three-dot vertical menu */
}

// Progress bar styles
$dot-size: 9px;
$marker-size: 1.875em;
$progress-transition-time: 200ms;
$progress-transition: left $progress-transition-time ease;

.sb-progress {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: center;
  cursor: pointer;
  padding-right: 12px;
}

@include view-width-min(md) {
  .sb-progress {
    padding: 6px 12px 6px 0;
  }
}

.sb-progress-bar {
  $margin-left: 12px;
  margin-left: $margin-left;
  flex-grow: 1;
  position: relative;
  // will wrap onto second row only if sb-progress-rank's width is > 85px i.e. if 1em > 17px (adjustable in a11y settings)
  min-width: calc(100% - #{$margin-left} - 85px);
  display: flex;
  align-items: center;
}

.sb-progress-rank {
  min-width: 5em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.sb-progress-bar,
.sb-progress-rank {
  height: $marker-size;
}

.sb-progress-line {
  position: relative;
  height: 1px;
  background: $gray4;
  width: 100%;
  display: flex;
  align-items: center;
}

.sb-progress-marker {
  width: $marker-size;
  height: $marker-size;
  position: absolute;
  left: 0%;
  transition: left 200ms ease;
  transform: translate(-50%, 0);

  .sb-progress-value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: $spelling-bee-gold;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: -0.03125em; // to give a bit more room in circle
  }

  &.final .sb-progress-value {
    border-radius: 0%;
  }
}

.sb-progress-dots {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sb-progress-dot {
  display: block;
  width: 0;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: -$dot-size * 0.5;
    top: -$dot-size * 0.5;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    background-color: $gray4;
    transition: background-color $progress-transition-time
      ($progress-transition-time - 100ms) ease;
  }

  &:last-child::after {
    border-radius: 0%;
  }

  &.completed::after {
    background-color: $spelling-bee-gold;
  }
}


@media (max-width: 768px) {
  .sb-wordlist-items-pag {
    min-width: auto;
  }
}
