<div class="sb-progress-box">
  <span role="presentation">
    <div class="sb-progress" data-testid="sb-progress">
      <div class="sb-progress-title">
        <h4 class="sb-progress-rank" data-testid="sb-progress-rank">{{ scoreName }}</h4>
      </div>
      <div class="sb-progress-bar">
        <div class="sb-progress-line">
          <!-- Each dot represents a score level -->
          <div class="sb-progress-dots">
            <span *ngFor="let level of scoreLevels" class="sb-progress-dots"
              [ngClass]="{'completed': score >= level.minScore}" class="sb-progress-dot"></span>
          </div>
        </div>
        <!-- Dynamic marker positioning -->
        <div class="sb-progress-marker" [style.left]="calculateMarkerPosition(score) + '%'">
          <span class="sb-progress-value">{{ score }}</span>
        </div>
      </div>
    </div>
  </span>
</div>

<div class="sb-wordlist-box">
  <div class="sb-wordlist-heading">
    <div class="sb-wordlist-heading-wrap">
      <div class="sb-wordlist-summary">
        Keni gjetur {{ validWords.length }} fjalë
      </div>
    </div>
  </div>
  <div class="sb-wordlist-drawer">
    <div class="sb-wordlist-window">
      <ul class="sb-wordlist-items-pag">
        <li *ngFor="let word of validWords">
          <span
            [ngClass]="word.isPangram ? 'sb-anagram pangram' : 'sb-anagram'">
            {{ word.word }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
