<!-- src/app/word-input/word-input.component.html -->
<div class="input-container">
  <!-- Error message container -->
  <div *ngIf="lastResult" class="error-message-container">
    <div class="error-message">
      <p>{{ lastResult }}</p>
    </div>
  </div>
  <!-- end of error message container -->
  <input type="text"
         class="custom-cursor"
         [(ngModel)]="currentWord"
         placeholder="Shkruaj ose kliko"
         (keyup.enter)="submitWord()" autofocus
         appMaintainFocus>

  <div class="honeycomb-list">
    <app-single-hive
      (letterClicked)="onLetterReceived($event)"
      [letters]="letters">
    </app-single-hive>
  </div>
  <div class="button-container">
    <button  class="clear" (click)="clearWord()">Fshij</button>
    <button (click)="submitWord()">Jepi!</button>
  </div>
</div>
