<!-- src/app/word-input/word-input.component.html -->
<app-error-message [message]="errorMessage"></app-error-message>
<div class="input-container">
  <input type="text"
         class="custom-cursor"
         [(ngModel)]="currentWord"
         placeholder="Shkruaj ose kliko"
         (keyup.enter)="submitWord()" autofocus
         appMaintainFocus>

  <div class="honeycomb-list">
    <app-single-hive
      (letterClicked)="onLetterReceived($event)"
      [letters]="letters">
    </app-single-hive>
  </div>

  <button (click)="submitWord()">Jepi!</button>
</div>
